body{
	background: #EF6A6D;	
}
*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑","arial";
}
.videoName{
	width:994px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #E9EAEC;
	position: absolute;
	left: 200px;
	top: 100px;
}
.listTab{
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	left: 1100px;
	top:105px;
}
#player{
	width: 994px;
	height: 561px;
	background: #000;
	position: absolute;
	left: 200px;
	top:141px;
}
.playTab{
	width:95px;
	height: 95px;
	border-radius: 50%;
	background: #fff url(../img/iconlist.png) no-repeat -7px -13px;
	position: absolute;
	left: 697px;
	top:380px;
	cursor: pointer;
}
.tool{
	width:994px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #E9EAEC;
	position: absolute;
	left: 200px;
	top:701px;
	margin-bottom:20px;
}
.play{
	width:20px;
	height: 20px;
	background: url(../img/iconlist.png) no-repeat -27px -139px;
	float: left;
	margin-top:11px;
	margin-left: 10px;
	cursor: pointer;
}
.play_time{
	width:50px;
	height:20px;
	text-align: center;
	line-height: 20px;
	font-size: 10px;
	float: left;
	margin-left: 25px;
	margin-top: 11px;
}
.progress_full{
	float: left;
	width: 690px;
	height:10px;
	background: #f5f5f5;
	margin-left: 20px;
	margin-top:16px;
	border-radius: 5px;
	position: relative;
}
.play_progress{
	position: absolute;
	width:0px;
	height:10px;
	background-image: repeating-linear-gradient(45deg,#d8534e 0,#e06d68 20px);
	/* border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; */
	border-radius: 5px;
}
.remain_time{
	width:50px;
	height:20px;
	text-align: center;
	line-height: 20px;
	font-size: 10px;
	float: left;
	margin-left: 20px;
	margin-top: 11px;
}
.volume{
	width: 23px;
	height: 20px;
	background: url(../img/iconlist.png) no-repeat -21px -213px;
	float: left;
	margin-left: 30px;
	margin-top: 11px;
	cursor: pointer;
	position: relative;
}
.full{
	width:23px;
	height: 23px;
	background: url(../img/iconlist.png) no-repeat -25px -249px;
	float: left;
	margin-left: 25px ;
	margin-top: 14px;
	margin-bottom:20px;
	cursor: pointer;
}
.volume_progress{
	width: 23px;
	height: 87px;
	background: #fff;
	position: absolute;
	bottom: 46px;
	right: 55px;
	border-radius: 3px;
	display: none;
}
.volume_full{
	width:8px;
	height:65px;
	background: #EF6A6D;
	border-radius: 3px;
	position: absolute;
	left: 8px;
	bottom: 11px;
}
.volume_play{
	width:8px;
	height:70%;
	background: #A2A7AA;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
}
.trangle{
	width:0px;
	height: 0px;
	border-color:#fff transparent transparent transparent; 
	border-width: 5px;
	border-style:solid;
	position: relative;
	top: 87px;
	left: 6px;
}
.playList{
	width:300px;
	height:643px;
	background: lightblue;
	border-radius: 5px;
	position: absolute;
	left:1194px;
	top:100px;
	position: relative;
	visibility: hidden;
}
.coin{
	width:0px;
	height: 0px;
	border-style: solid;
	border-width:10px;
	border-color: transparent lightblue transparent transparent ;
	position: absolute;
	top: 10px;
	left: -20px;
}
.listTitle{
	width:100%;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	text-align: center;
}
.listVideo{
	width:100%;
	list-style: none;
}
.listVideo li {
	width:100%;
	height:30px;
	cursor: pointer;
}
.listVideo li p{
	width:50%;
	height:30px;
	font-size: 14px;
	line-height: 30px;
	text-align: left;
	padding-left: 20px;
	box-sizing: border-box;
	float: left;
}
.listVideo li span{
	float: right;
	width:40px;
	height:28px;
	line-height: 30px;
	text-align: center;
	margin-right: 15px;
}
.listbottom{
	width:100%;
	height: 42px;
	border-top: 1px solid #eee;
	position: absolute;
	bottom: 0px;
}
.listbottom span{
	font-size: 14px;
	width:50px;
	height:20px;
	line-height: 20px;
	text-align: center;
	border:1px solid #eee;
	border-radius: 5px;
	float: left;
	margin-top: 10px;
	margin-left:10px;
	cursor: pointer;
}